# Footnote apport des précisions sur la qualité des valeurs de Data (spécifique à une variable, un pays et une année).
## Certains de ces footnotes seront à ajouter au tableau Data une fois que les variables et les pays seront triés sur leur pertinence.

In [1]:
import pandas as pd
import numpy as np

In [2]:
footnote = pd.read_csv("EdStatsFootNote.csv")

In [3]:
footnote.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [4]:
footnote['Year'] = footnote['Year'].str.replace('YR','')
footnote['Year'] = footnote['Year'].str.replace('yr','')
footnote['Year'] = footnote['Year'].astype('int')
footnote = footnote[((footnote['Year']<2016)&(footnote['Year']>2009))]

In [5]:
footnote

,CountryCode,SeriesCode,Year,DESCRIPTION,Unnamed: 4
86,ABW,SE.ADT.1524.LT.FE.ZS,2010,Country data,NaN
88,ABW,SE.ADT.1524.LT.FM.ZS,2010,Country data,NaN
90,ABW,SE.ADT.1524.LT.MA.ZS,2010,Country data,NaN
92,ABW,SE.ADT.1524.LT.ZS,2010,Country data,NaN
94,ABW,SE.ADT.LITR.FE.ZS,2010,Country data,NaN
...,...,...,...,...,...
643609,ZWE,SH.DYN.AIDS.ZS,2014,Plausible bound is 12.5-16.1,NaN
643617,ZWE,SH.DYN.MORT,2010,Uncertainty bound is 81.6 - 99.1,NaN
643626,ZWE,SH.DYN.AIDS.ZS,2012,Plausible bound is 13-17.1,NaN
643634,ZWE,SH.DYN.MORT,2014,Uncertainty bound is 54.3 - 76,NaN
643635,ZWE,SH.DYN.MORT,2015,Uncertainty bound is 48.3 - 73.3,NaN